/* BUILDER ------------------------------------------------------------------ */
#builder-container {
    position: fixed; top: 0; bottom: 0; left: 0; right: 0;
    background-color: #000000b0;
}
#builder-container.hidden {display: none;}
body:has(#builder-container):not(:has(#builder-container.hidden)) {overflow: hidden;}

#builder {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    background-color: white;
    margin: 8pt;
    border-radius: 8pt;
    padding: 8pt;
    display: grid;
    grid-template-rows: auto max-content;
    row-gap: 8pt;
}

#builder-contents {grid-row: 1; overflow-y: auto;}
#builder-actions {grid-row: 2;}

#builder button {
    cursor: pointer;
    float: right;
    border: none;
    background-color: #e0e0e0;
    font-size: 1.2em;
    padding: 8pt 8pt 8pt 8pt;
    border-radius: 8pt;
    transition: background-color var(--transition-duration), transform var(--transition-duration) ease-in-out;
}
#builder button + button {margin-right: 8pt;}
#builder button:hover {background-color: #f0f0f0;}
#builder button:active {background-color: #c7c7c7; transform: scale(calc(1 / 1.05));}
button#builder-ok {background-color: #80f080;}
button#builder-ok:hover {background-color: #a0ffa0;}
button#builder-ok:active {background-color: #70e070;}

#builder-title {
    font-family: Georgia, serif;
    text-align: center;
}

/* #builder-title-edit { // Button
    text-align: center;
    display: block;
} */

#builder-title-edit, .builder-title-edit {
    font: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2pt solid gray;
    text-align: right;
}
#builder-title-edit:focus {
    outline: none;
    border-bottom: 2pt solid #70e070;
}
#builder-title-edit:read-only {
    border-bottom: none;
}

#builder-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}
#builder-flex-container > div {
    display: inline;
    flex-basis: auto;
    border: 1px dashed lightgray;
    min-width: 300px;
    padding: 4pt;
    align-items: stretch;
}
#builder-courses-available-container {
    flex-grow: 1;
    flex-basis: auto;
}
#builder-courses-selected-container {
    flex-grow: 1;
    flex-basis: auto;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4pt;
    cursor: default;
}
.list-heading {font-weight: bold;}
.list-item {padding-left: 12pt;}