/* GENERAL ------------------------------------------------------------------ */
:root {
    --color-heading-period-num: 156, 91, 205;
    --color-heading-period-time: 75, 208, 255;
    --color-day-name: 237, 125, 49;
    --color-period-free: 146, 208, 0;
    --color-period-noncommon: 255, 0, 0;
    --color-period-conflict: 0, 127, 255;
    --alpha-background: 0.4;
    --transition-duration: 0.1s;
}

button, select {
    font: inherit;
}

div#loading {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: #000000b0;
    font-size: 5em;
    font-weight: bold;
    color: white;
    text-shadow: black 0pt 0pt 10pt;
    user-select: none;

    backdrop-filter: blur(15px);

    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

div#loading.complete {
    background-color: transparent;
    visibility: hidden;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 0.2s 0s ease-in, visibility 0s 0.2s, background-color 0.2s 0s linear;
}

div#loading > span {
    font-size: 0em;
    opacity: 0;
    font-weight: lighter;
    animation-name: loading-fade;
    animation-duration: 0.25s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes loading-fade {
    /* from {opacity: 0;}
    to {opacity: 1;} */
    from {font-size: 0em; opacity: 0;}
    to   {font-size: 0.6em; opacity: 1;}
}

/* TIMETABLE LIST - OLD ----------------------------------------------------- */
fieldset {
    display: inline-block;
    column-count: 3;
}

label > b {
    color: red;
}

/* TIMETABLE LIST - NEW ----------------------------------------------------- */
#timetable-list, .timetable-list {
    background-color: #e0e0e0;
    border-radius: 8pt;
    padding: 8pt;
    margin-top: 1em; margin-bottom: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* was previously nowrap */
    overflow-x: auto;
    gap: 8pt;
}

.timetable-entry {
    padding: 8pt;
    border-radius: 8pt;
    background-color: #d0d0d0;
    min-width: 10em;
    cursor: pointer;
    transition: background-color var(--transition-duration), transform var(--transition-duration) ease-in-out;
}
.timetable-entry:hover {background-color: #f0f0f0;}
.timetable-entry:active {background-color: #c7c7c7;}
.timetable-entry:active:not(:has(> button.action:active, > input:active)) {transform: scale(calc(1 / 1.05));}
.timetable-entry:has(input:checked) {background-color: #80f080;}
.timetable-entry:has(input:checked):hover {background-color: #a0ffa0;}
.timetable-entry:has(input:checked):active {background-color: #70e070;}
.timetable-entry > button.action {
    float: right;
    background-color: unset;
    border: none;
    border-radius: 4pt;
    padding: 0 0 0 2pt;
    cursor: pointer;
    transition: transform var(--transition-duration) ease-in-out;
}
.timetable-entry > button.action:hover {transform: scale(1.2);}
.timetable-entry > button.action:active {transform: scale(calc(1 / 1.2));}

.timetable-entry p {margin: 0;}
.timetable-entry .attr-key {
    font-weight: bold;
    display: inline;
}
.timetable-entry .attr-course-id {
    font-style: italic;
    color: rgba(0, 0, 0, 0.5)
}

button#timetable-list-add {
    background-color: unset;
    border: none;
    font-size: 2em;
    font-weight: bold;
    padding: 8pt;
    border-radius: 8pt;
    vertical-align: bottom;
    align-self: center;
    cursor: pointer;
    transition: color var(--transition-duration);
}
button#timetable-list-add:hover {color: #00da00;}
button#timetable-list-add:active {color: #00b100;}

/* TABLE -------------------------------------------------------------------- */
table {
    empty-cells: hide;
    border-collapse: collapse;
}

#timetable {
    white-space: nowrap;
    transform-origin: top left;
}

#timetable-container {
    overflow-x: auto;
}

td, th {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
}

/* PERIODS ------------------------------------------------------------------ */
.blank {
    border: none;
}

.heading-period-num {
    background-color: rgb(var(--color-heading-period-num));
    font-size: 2em;
}

.heading-period-time {
    background-color: rgb(var(--color-heading-period-time));
    font-size: 0.9em;
}

.day-name {
    background-color: rgb(var(--color-day-name));
    font-size: 1.75em;
    text-align: right;
    border-right: none;
}

.day-fields {
    border-left: none;
    text-align: left;
}

.period {
    white-space: nowrap;
}
.period-free {
    background-color: rgb(var(--color-period-free));
}
.period-noncommon {
    color: rgb(var(--color-period-noncommon));
    background-color: rgba(var(--color-period-noncommon), var(--alpha-background));
    font-size: 3em;
    padding: 0;
}
.period-conflict, .period-indeterminate {
    color: rgb(var(--color-period-conflict));
    background-color: rgba(var(--color-period-conflict), var(--alpha-background));
    font-size: 3em;
    padding: 0;
}

td > p {
    margin: 0;
    line-height: 1.75em;
}

td > p:not(:nth-child(1)) { /* Select all but 1st element */
    border-top: 1px dotted gray;
}

/* PRINT -------------------------------------------------------------------- */
/* Reference: https://stackoverflow.com/a/2618980/ */
@media print {
    @page {
        size: A4 landscape;
    }

    body {
        font-size: 8pt;
    }

    body > :not(#timetable-container) {
        display: none;
    }

    #timetable {
        white-space: nowrap;
        zoom: unset !important;
    }
}
