/* Container, for providing a dimmed background */
#builder-container {
    position: fixed; top: 0; bottom: 0; left: 0; right: 0;
    background-color: #000000b0;
}
#builder-container.hidden {display: none;}
body:has(#builder-container):not(:has(#builder-container.hidden)) {overflow: hidden;}

/* Builder dialog itself */
#builder {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    background-color: white;
    margin: 8pt;
    border-radius: 8pt;
    padding: 8pt;

    display: grid;
    grid-template-rows: max-content auto max-content;
    row-gap: 8pt;
}

#builder button {
    cursor: pointer;
    float: right;
    border: none;
    background-color: #e0e0e0;
    font-size: 1.2em;
    padding: 8pt 8pt 8pt 8pt;
    border-radius: 8pt;
    transition: background-color var(--transition-duration), transform var(--transition-duration) ease-in-out;
}
#builder button + button {margin-right: 8pt;}
#builder button:hover {background-color: #f0f0f0;}
#builder button:active {background-color: #c7c7c7; transform: scale(calc(1 / 1.05));}

/* |---------------|
   | BUILDER PARTS |------------------------------------------------------------
   |---------------|
   Divides the builder into three parts: title, contents, action buttons. */

#builder-title {font-family: Georgia, serif; text-align: center; grid-row: 1;}
#builder-title-editable, .builder-title-edit {
    font: inherit;
    border-top: none; border-left: none; border-right: none;
    border-bottom: 2pt solid gray; border-bottom-left-radius: 8pt;
    text-align: right;
}
#builder-title-editable:focus {outline: none; border-bottom: 2pt solid #70e070;}
#builder-title-editable:read-only {border-bottom: none;}

#builder-contents {grid-row: 2;}

#builder-actions {grid-row: 3;}
button#builder-ok {background-color: #80f080;}
button#builder-ok:hover {background-color: #a0ffa0;}
button#builder-ok:active {background-color: #70e070;}

/* |-------------------------------|
   | BUILDER PARTS > CONTENT PANES |--------------------------------------------
   |-------------------------------|
   Divides the contents into two panes horizontally:
   Available and selected courses. */
#builder-courses-panes {
    display: flex;
}
#builder-courses-available-pane {
    display: flex;
    flex-direction: column;
}
#builder-courses-selected-pane {
    flex-grow: 1;
    flex-basis: auto;
}

.listbox-scroller {
    display: flex;
    overflow: auto;
}

/* General replacement for a multi-line <select>, like WinForms ListBox.
Motive: Native <select size=x> does not allow selecting an optgroup. */
.listbox {
    display: flex;
    flex-direction: column;
    min-height: min-content;

    gap: 4pt;
    border: 1pt solid lightgray;
    padding: 4pt;
    user-select: none;
    list-style-type: none;
    max-height: 500px;
    overflow-y: auto;
}
.listbox-heading {font-weight: bold;}
.listbox-item {padding-left: 12pt;}
.listbox-heading, .listbox-item {
    padding-top: 2pt;
    padding-bottom: 2pt;
    cursor: pointer;
}
.listbox-heading:hover, .listbox-item:hover, .listbox-heading:hover ~ .listbox-item
{
    background-color: rgb(0,0,0,20%);
}
